[submodule "foreign/src/stb"]
	path = foreign/src/stb
	url = https://github.com/nothings/stb/
[submodule "foreign/src/cimgui"]
	path = foreign/src/cimgui
	url = https://github.com/cimgui/cimgui/
[submodule "foreign/src/glfw"]
	path = foreign/src/glfw
	url = https://github.com/glfw/glfw
[submodule "foreign/src/soloud"]
	path = foreign/src/soloud
	url = https://github.com/jarikomppa/soloud
[submodule "foreign/src/wgpu-native"]
	path = foreign/src/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native
